@model AMS.Models.MsCnttype

@{
    ViewBag.Title = "CntType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col l4"><p></p></div>
        <div class="w3-col l4  w3-border">
            <header class="w3-container w3-card-4 w3-theme w3-teal" style="position:relative;z-index:-10;">
                <h3>Contract Type Detail</h3>
            </header>
            <form id="contract">
                <div class="w3-container">
                    <p>
                        <label class="w3-text-teal">Contract Type Name</label>
                    </p>
                    <p> 
                        @Html.TextBoxFor(m => m.CNTNAME, new { @id = "CNTNAME" , @style = "width:270px;text-transform:uppercase;border:0px 0px 1px 0px;" })
                        &nbsp;&nbsp;
                        <a onclick="NewClick();"><img src="~/Images/new.png" width="20" height="20" /></a>
                        <span id="cntnameerr" class="w3-text-red"></span>
                    </p>
                    <p>
                        <label class="w3-text-teal">Contract Type Description</label>
                        @Html.TextBoxFor(m => m.CNTDESC, new { @class = "w3-input", @id = "CNTDESC" })
                        <span id="cntdescerr" class="w3-text-red"></span>
                    </p>
                    <p>
                        <label class="w3-text-teal">Status</label>
                        <br />
                        @Html.RadioButtonFor(m => m.INACTIVE, "0", new { @checked = "", @id = "INACTIVE1" }) &nbsp;&nbsp; <label>Active </label>&nbsp;&nbsp;

                        @Html.RadioButtonFor(m => m.INACTIVE, "1", new { @id = "INACTIVE2" }) &nbsp;&nbsp; <label>Inactive</label>
                    </p>
                    <p>
                        <label class="w3-text-teal">Last Modified By</label>
                        @Html.TextBoxFor(m => m.DATELASTMN, new { @class = "w3-input", @id = "DATELASTMN", @style = "background-color:#e6e6e6;", @readonly = "true" })
                    </p>
                    <p class="w3-right">
                        <button type="button" class="w3-button w3-blue w3-round w3-hover-teal" id="addbtn">Add</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="w3-col l4"></div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var tot;
        $("#CNTNAME").change(function () {
            if ($("#CNTNAME").val() === '') {
                $("#cntnameerr").html("Contract Type Required").show();
            }
            else { $("#cntnameerr").html("Contract Type Required").hide(); }
        });
        $("#CNTDESC").change(function () {
            if ($("#CNTDESC").val() === '') {
                $("#cntdescerr").html("Contract Description Required").show();
            }
            else { $("#cntdescerr").html("Contract Description Required").hide(); }
        });
        function reqval() {
            var a, b;
            if ($("#CNTNAME").val() === '') {
                $("#cntnameerr").html("Contract Type Required").show();
                a = 0;
            }
            else {
                $("#cntnameerr").html("Contract Type Required").hide();
                a = 1;
            }
            if ($("#CNTDESC").val() === '') {
                $("#cntdescerr").html("Contract Description Required").show();
                b = 0;
            }
            else
            {
                $("#cntdescerr").html("Contract Description Required").hide();
                b = 1;
            }
            tot = a + b;
        }

        function addfn() {
            $.ajax({
                type: "POST",
                url: "/Master/CntIns",
                data: $('#contract').serialize(),
                dataType: 'text',
                async: true,
                success: function (message) {
                    alert(message);
                    getcntTable();
                },
                error: function () {
                    alert("Something went wrong");
                }
            });
        }
        $("#addbtn").click(function (event) {

            reqval();
            if (tot === 2) {
                addfn();
            }
            else {

            }
        });
    });
    $("#CNTNAME").change(function () {
        selectcntCode = $("#CNTNAME").val().trim();
        if (selectcntCode === "") {

        }
        else {
            getcntTable();
        }
    });
    function getcntTable() {

        $.ajax({
            url: "/Master/CntGet",
            type: 'Get',
            data: { cntname: selectcntCode },
            success: function (data) {

                $("#overright").empty().append(data);

                if ($("#DATELASTMN").val().trim() !== "") {
                    $("#addbtn").html("Save");
                }
                else {
                    $("#CNTNAME").val(selectcntCode);
                    $("#CNTDESC").focus();
                    $("#addbtn").html("Add");
                }
            },
            error: function () {
                alert("something seems wrong");
                $("#addbtn").html("Add");
            }
        });
    }
    function NewClick() {
        $("#CNTNAME").val('');
        $("#CNTDESC").val('');
        $("#DATELASTMN").val('');
        $("#INACTIVE1").attr('checked', true);
        $("#CATGTYPE").val('Hardware');
    }
</script>