
@model IEnumerable<AMS.Models.ProcessGrp>

@{
    ViewBag.Title = "Process Group";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="w3-container">
    <header class="w3-container w3-card-4 w3-theme w3-teal">
        <a href="~/Process/PrsGrpAdd" class="w3-button w3-xlarge w3-circle w3-theme-action w3-right w3-light-green" style="top:97px;right:18px;position:fixed">+</a>
          <h3>Process Group</h3>
    </header>
</div>
<div class="w3-border">

    <div class="w3-container w3-responsive">

        <table class="w3-table w3-striped w3-border" >
            <thead>
                <tr class="w3-blue">
                    <th>
                       Edit 
                    </th>
                    <th>Group Name</th>
                    <th>Status</th>
                    <th>Sort Order</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "PrsgrpGet", new { grpname = item.CHKGRPNAME })
                        </td>
                        <td>
                            @Html.DisplayFor(mdlitem => item.CHKGRPNAME)
                        </td>
                        <td>
                            @switch (@item.INACTIVE)
                            {
                                case 0:
                                    <label>Active</label>
                                    break;
                                case 1:
                                    <label>Inactive</label>
                                    break;
                                default:
                                    <label>Not Set</label>
                                    break;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(mdlitem => item.SORTORD)
                        </td>
                        <td>
                            @Html.DisplayFor(mdlitem => item.DATELASTMN).ToString().Substring(6, 2)-@Html.DisplayFor(mdlitem => item.DATELASTMN).ToString().Substring(4, 2)-@Html.DisplayFor(mdlitem => item.DATELASTMN).ToString().Substring(0,4)                            
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>